@charset "UTF-8";

body {
    font-family:Verdana, Geneva, sans-serif;
    background: grey;
    padding:10px;
}

#container {
    width: 960px;
    background-color: #EEE;
    margin: 0 auto;
    text-align: center;
    color:#000; 
}


#slideshow{
    background-color:tan;
    width:600px;
    height:700px;
    text-align:center;
    margin: 0 auto;
    color:#EEE;
}
p{
    padding-left:10px;
    padding-right:10px;
}
